*{
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 5px;
    
}

.table{
    border: 2px solid black;
    margin: 0 auto; 
    border-collapse: collapse;
    font-size: 25px;
    
}

tr th, td{
    border: 2px solid black;
}

.cabecera,.info,.footer{
    background-color: #df6e6e;
}


.datos{
    background-color: rgb(224, 217, 217);
     
}